
Day3_Remote_Sensing_Demo/Part_2_Altum/Elevation_in_meters.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/Exercise_Image_analysis.docx
Day3_Remote_Sensing_Demo/Part_2_Altum/.ipynb_checkpoints/Elevation_in_meters-checkpoint.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/.ipynb_checkpoints/Reflectance_band_4-checkpoint.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/.ipynb_checkpoints/Reflectance_band_5-checkpoint.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/Reflectance_band_1.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/Reflectance_band_2.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/Reflectance_band_3.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/Reflectance_band_4.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/Reflectance_band_5.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/Temperature_in_C.dat
Day3_Remote_Sensing_Demo/Part_2_Altum/nov13_chunk8_low_v2_plusdem.tif
