/* these came from https://github.com/Vestride/fancy-index */

:root {
  --color-bg: white;
  --color-text: #404040;
  --color-table-bg: white;
  --color-table-bg--head: #efefef;
  --color-table-bg--even: whitesmoke;
  --color-table-text: #212529;
  --color-link-text: #3498db;
  --color-link-text--visited: #8e44ad;
  --color-search-text: #8e44ad;
  --color-search-bg: white;
  --color-search-border: rgba(0, 0, 0, .15);
  --color-search-border--focus: #8e44ad;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #222222;
    --color-text: #bbb;
    --color-table-bg: #222222;
    --color-table-bg--head: #181818;
    --color-table-bg--even: #333;
    --color-table-text: #ccc;
    --color-link-text: #3096d5;
    --color-link-text--visited: #9e4ebf;
    --color-search-text: #9e4ebf;
    --color-search-bg: #181818;
    --color-search-border: rgba(255, 255, 255, .15);
    --color-search-border--focus: #9e4ebf;
  }
}

body {
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
  margin: 10px 30px 0 30px;
}


h1 {
	margin: 0.5rem 0;
	font-weight: 300;
}

#major_header::after {
  display: block;
  clear: both;
  content: "";
}

table {
  width: 100%;
  background: var(--color-table-bg);
  table-layout: auto;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

table thead {
  background: var(--color-table-bg--head);
}

table tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

table tr th,
table tr td {
  padding: 0.5625rem 0.625rem;
  font-size: 1rem;
  color: var(--color-table-text);
  text-align: left;
  line-height: 1.25rem;
  border: 1px solid #dee2e6;
}

table thead tr th {
  padding: 0.5rem 0.625rem 0.625rem;
  font-weight: bold;
}

/*
table tr.even {
  background: var(--color-table-bg--even);
}
*/

a {
  text-decoration: none;
  color: #1f64b7;
}

a:hover {
  text-decoration: underline;
}

/*
a:visited {
  color: var(--color-link-text--visited);
}
*/

.img-wrap {
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.img-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: contain;
}

.img-wrap + a {
  display: inline-block;
  vertical-align: middle;
}

.hidden {
  display: none;
}

#page-header {
  display: flex;
  align-items: center;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

/* Hide extra columns so they don't squash file names */
@media (max-width: 800px) {

  h1 {
    font-size: 1.5em;
  }

  #page-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1em
  }

}

@media (max-width: 430px) {
  .indexcollastmod, .indexcoldesc, .indexcolsize {
    display: none;
  }
  h1 {
    font-size: 1.375em;
  }
  body {
  margin: 2px;
  }
}
