/*---------------------------------------------------------------
 * This file contains css for the header
  ---------------------------------------------------------------*/

/* This makes up most of the banner content. Includes the NOAA/ESRL */
/* logos and search elements.                                       */
#major_header { 
        line-height: 1;
padding: 0.5rem;
/*
	background-color: #336699;
        background-image: linear-gradient(left, #113377, #336699); 
        background-image: -moz-linear-gradient(left, #113377, #336699);
*/
/*
	background-color: #000;
background-image: url(/header_bg.jpg);
background-repeat: no-repeat;
background-position: right top;
*/
}

.header {
        background-image: url(/images/globe2013.png);
        background-repeat: no-repeat;
        background-position: right top;
        min-height: 70px;



}


.header_logo {
	clear: none;
	float: left;
	border: none;
	margin: 0px 10px 6px 5px;
}

#navbar-brand-title {
	line-height: 1.2;
/*	color: #fff; */

}

#navbar-brand-title a {
/*	color: #fff; */
}

.lab {
	font-size: 1.2rem;
	color: #0a4595;
	font-weight: bold;
}


.division {
	font-size: 0.8rem;
	color: #000;
	font-weight: bold;
}

/*---------------------------------------------------------------*/
/* The search box inside the banner*/
#search {
	padding-top: 12px;
	margin-right: 20px;
}

@media (min-width: 576px) {
	.header_logo {
		margin: 5px 10px 5px 10px;
	}
	.division {
		font-size: 0.9rem;
	}
	.lab {
		font-size: 1.8rem;
	}
}

@media (min-width: 768px) {
	.header_logo {
		margin: 5px 20px 5px 10px;
	}
	.division {
		font-size: 1.0rem;
	}
	.lab {
		font-size: 1.8rem;
	}
}

@media (min-width: 992px) {
	.header_logo {
		margin: 5px 20px 5px 20px;
	}
	.division {
		font-size: 1.0rem;
	}
	.lab {
		font-size: 2.2rem;
	}
}

